
<section class="footer">

    <ul class="footerTab">
        <li class="enlace">
            <a href="#horario" aria-current="page" class="inline-block p-4 text-blue-600 font-days bg-white rounded-t-lg active ">Horario</a>
        </li>
        <li class="enlace">
            <a href="#" class="inline-block font-days p-4 rounded-t-lg ">Mapa</a>
        </li>
        <li class="enlace">
            <a href="#" class="inline-block font-days p-4 rounded-t-lg ">Correo</a>
        </li>

    </ul>

    <div id="horario" class="horario">
        <ul>
          <li>23 Julio 2022, 19:00 - 23:00</li>
          <li>24 Julio 2022, 19:00 - 23:00</li>
        </ul>
      </div>


    <section class="header">
        <div class="header__grid">
          <a href="./index.html"><img class="header__img" src="./assets/images/logo.jpg" alt="Logo festival"></a>
          <div class="header__a">
            <a class="header__a2" href="./ticket.html">Sorteo</a>

            <a class="header__a2" href="#">Historia</a>
            <a class="header__a2" href="#">Bandas</a>
            <a class="header__a2"  href="#">Inicio</a>
          </div>
        </div>
      </section>
</section>

